.greetings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.previous-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.navigation-btn {
    width: 80px;
    height: 80px;
    color: rgb(14 165 233);
}

.next-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.main-image-container {
    width: 350px;
    height: 250px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    display: flex;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 2rem;
}

.loading-icon {
    font-size: 5rem;
    animation: spin-animation 0.5s infinite;
}

@keyframes spin-animation {
    0% {
      transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(359deg);
    }
}