.greetings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.previous-btn-container {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-color: black;
    border-style: solid
}

.navigation-btn {
    width: 80px;
    height: 80px;
    color: rgb(14 165 233);
}

.next-btn-container {
    width: 80px;
    height: 80px;
    border-width: 1px;
    border-color: black;
    border-style: solid
}

.main-image-container {
    width: 350px;
    height: 250px;
    border-width: 1px;
    border-color: black;
    border-style: solid
}